  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Fredoka:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Fredoka:wght@400;500&family=Roboto:ital@1&display=swap');

  * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       /* font-family: 'Concert One', sans-serif; */
  }

  h2 {
       font-family: 'DM Sans', sans-serif;
  }

  p {
       font-family: 'Fredoka', sans-serif;
  }


  /* header */

  .header {
       width: 100%;
       min-height: 100vh;
       background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(9, 9, 9, 0.3)), url(../image/Cover-ph.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       position: relative;
  }

  nav {
       width: 100%;
       height: 15%;
       padding: 1.5% 4%;
       background-color: #fff;
       display: flex;
       justify-content: space-between;
       align-items: center;

  }

  nav img {
       width: 10rem;
       font-size: 1em;
  }

  nav .nav-links {
       display: flex;
       align-items: center;
       text-align: right;
  }

  .nav-links ul li {
       display: inline-block;
       padding: 0 0.5em;
       position: relative;
  }

  .nav-links ul li a {
       text-decoration: none;
       color: #3c3983;
       font-size: 1rem;
       font-weight: 600;
       transition: 0.5s;
  }

  .nav-links ul li a::after {
       content: "";
       width: 0%;
       height: 0.15em;
       margin-top: 0.5em;
       background-color: #ed078b;
       display: block;
       /* margin: auto; */
       transition: 0.5s;
  }

  .nav-links ul li a:hover::after {
       width: 100%;
  }

  .nav-links ul li a:hover {
       color: #ed078b;
  }

  .enroll-btn {
       margin: 0 0.8em;
       padding: 0.8em 1.9em;
       border: none;
       border-radius: 1.5em;
       font-size: 0.9em;
       font-weight: 600;
       color: #fff;
       background-color: #12d9df;
       cursor: pointer;
  }

  .enroll-btn:hover {
       background-color: #56dce0;
  }

  .nav-links .bx {
       display: none;
  }

  nav .bx {
       display: none;
  }

  .text-box {
       width: 35%;
       height: 55%;
       border-radius: 3em;
       padding: 3% 5%;
       background-color: #fff;
       position: absolute;
       top: 60%;
       left: 25%;
       transform: translate(-50%, -50%);
       text-align: left;
  }

  .text-box h1 {
       font-size: 3em;
       color: #3c3983;
       font-family: 'Concert One', sans-serif;
  }

  h1 .text-sp {
       margin-top: 40px;
       color: #fbce0f;
       font-size: 1em;
       font-weight: 400;
       /* font-family: 'Roboto', sans-serif; */
  }

  .text-box .explor {
       margin: 8% 0;
       padding: 4% 10%;
       background-color: #ed078b;
       border: none;
       position: relative;
       border-radius: 2em;
       color: #fff;
  }

  .text-box .explor::after {
       content: "";
       width: 0%;
       height: 100%;
       top: 0%;
       left: 0%;
       right: 0%;
       border-radius: 2em;
       background-color: #ee2798;
       position: absolute;
       display: block;
       margin: auto;
       transition: 0.5s;

  }

  .explor:hover::after {
       z-index: 0;
       width: 100%;
  }


  /*End header */

  /* about */

  .about {
       width: 80%;
       margin: 0 auto 2em;
       padding-top: 100px;
       text-align: center;
  }

  .about h2 {
       font-size: 2.5rem;
       font-weight: bold;
       color: #3c3983;
       font-family: 'Concert One', sans-serif;
  }

  .about h2 .about-kit {
       color: #ed078b;
  }

  .about p {
       margin: 0.8em 0;
       line-height: 1.5em;
       font-size: 1.2em;

  }

  .row {
       margin-top: 5%;
       display: flex;
       justify-content: space-between;
  }

  .icon {
       margin-top: 4%;
       flex-basis: 30%;
       padding: 20px 12px;
  }

  .module {
       display: flex;
       justify-content: space-between;
       /* align-items: center; */
       text-align: left;
       margin-bottom: 0.8em;

  }

  .module img {
       width: 25%;
       height: 250%;
       margin-right: 1em;
  }

  .sports h2 {
       font-size: 1.3em;
       color: #1f97d4;
  }

  .sports p {
       font-size: 0.90em;
  }

  .enviriment h2 {
       color: #fbce0f;
  }

  .multi h2 {
       color: #12d9df;
  }

  .row .row-photo {
       flex-basis: 60%;
       height: 40%;
       border-radius: 2em;
       overflow: hidden;
  }

  .row .row-photo img {
       width: 100%;
  }

  /* End about */

  /* room */
  .room {
       width: 100%;
       background-image: url(../image/layered-waves-haikei.svg);
       background-size: cover;
       background-repeat: no-repeat;
  }

  .room-col {
       flex-basis: 31%;
       background-color: #fff;
       border-radius: 2em;
       margin-bottom: 5%;
       box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
       overflow: hidden;
  }

  .room-col:hover .name-room h2 {
       color: #ee2798;
  }

  .room-col img {
       width: 100%;
       height: 50%;
       margin-bottom: 1em;
  }

  .name-room {
       width: 90%;
       text-align: left;
       padding: 0 7%;
  }

  .name-room h2 {
       font-size: 1.6em;
       cursor: pointer;
       transition: 0.5s;
  }

  .name-room h2:hover {
       color: #fbce0f;
  }

  .name-room p {
       font-size: 1em;
       font-weight: 500;
       color: #888;
  }

  .line {
       width: 100%;
       height: 0.02em;
       background-color: #d9d9d9;
       margin-bottom: 0.9em;
  }

  .room-foot {
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 0 0 15%;
  }

  .room-foot.age {
       flex-basis: 31%;
       text-align: justify;
  }

  .room-foot .age h2 {
       font-size: 1.5em;
       color: #ed078b;
  }

  .room-foot .number h2 {
       color: #fbce0f;
  }

  .room-foot .price h2 {
       color: #1f97d4;
  }

  .room-foot .age p {
       color: #888;
  }

  .more {
       width: 15%;
       height: 15%;
       margin-bottom: 3em;
       padding: 1.5%;
       /* background-color: #fff; */
       border: 2px solid #ed078b;
       background-color: transparent;
       outline: none;
       border-radius: 2em;
       transition: 1s;
  }

  .more:hover {
       background-color: #ed078b;
       color: #fff;
  }

  /*  end room  */


  /*  event */

  .event {
       width: 100%;
       min-height: 100vh;
       background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../image/Cover-2.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
  }

  .event .drawing {
       width: 45%;
       height: 55%;
       padding: 5%;
       background-color: #fff;
       position: absolute;
       top: 20%;
       left: 30%;
       transform: translate(-50% -50%);
       text-align: center;
       border-radius: 2em;
  }

  .event .drawing h3 {
       font-size: 1.4em;
       font-weight: bold;
       margin-bottom: 0.5em;
       color: #ed078b;
  }

  .event .drawing h2 {
       font-size: 2em;
       font-weight: bolder;
       margin-bottom: 0.5em;
       color: #3c3983;
       font-family: 'DM Sans', sans-serif;
  }

  .drawing p {
       font-size: 1em;
       color: #413e81;
       margin-bottom: 0.5em;
  }

  .drawing .view {
       margin: 3% 0;
       padding: 4% 10%;
       background-color: #ed078b;
       border: none;
       position: relative;
       border-radius: 2em;
       color: #fff;
       transition: 0.5s;
  }

  .drawing .view:hover {
       background-color: #f0309d;
  }

  /* End event */

  /* teacher */

  .teacher-about {
       margin-top: 1.5em;
       display: flex;
       justify-content: space-between;
       align-items: center;
  }

  .teacher p {
       color: #3e3c75;
  }

  .teacher-col {
       flex-basis: 23%;
       margin-top: 1.5em;
  }

  .th-ph {
       height: 22em;
       border-radius: 3em;
       margin-bottom: 0.5em;
       position: relative;
       overflow: hidden;
  }

  .th-ph img {
       width: 100%;
       height: 100%;
       display: block;
  }

  .th-ph .layer {
       background: transparent;
       height: 100%;
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       transition: 0.5s;
       /* background: rgba(226, 0, 0, 0.2); */
  }

  .th-ph .layer:hover {
       background: rgba(226, 0, 0, 0.2);
  }

  /* .socail-media{
     width: 60%;
     margin: 0 auto;
     background-color: transparent;
     display: flex;
     justify-content: space-around;
} */
  .layer .socail-media {
       font-weight: 500;
       color: #c7c2c2;
       font-size: 1.5em;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       position: absolute;
       opacity: 0;
       transition: 0.5s;
       cursor: pointer;
  }

  .layer:hover .socail-media {
       bottom: 4%;
       opacity: 1;
  }

  .socail-media .bx:hover {
       color: #1f97d4;
  }

  .teacher-about .teacher-col h2 {
       font-size: 1.5em;
       font-weight: 500;
  }

  .teacher-col p {
       margin-top: 0;
       color: #888;
  }

  /* End teacher */

  /* review */
  .review {
       width: 100%;
       min-height: 80vh;
       background-image: url(../image/wave-haikei.svg);
       background-repeat: no-repeat;
       background-size: cover;
  }

  .testimonials {
       width: 70%;
       margin: auto;
       padding-top: 100px;
       text-align: center;
  }

  .testimonials img {
       width: 5em;
       height: 5em;
       margin: 15em 0 2em;
  }

  .testimonials p {
       margin-bottom: 0;
       font-size: 1.3em;
       font-weight: 400;
       color: #535099;
  }

  .testimonials .profile {
       width: 31%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: start;
       margin: 0 auto;
  }

  .testimonials .profile img {
       width: 5em;
       height: 5em;
       margin-top: 3em;
       border-radius: 50%;
  }

  .profile h2 {
       color: #ed078b;
       margin-bottom: 0.2em;
  }

  .profile p {
       color: #666;
  }

  /* End review */

  /* student-ph */

  .student-ph {
       width: 100%;
       height: 40vh;
       display: flex;
  }

  .student-ph img {
       width: 18em;
       height: 15em;
       margin: 0 auto;
  }

  /* end student-ph */

  /* -- footer -- */
  .foot {
       width: 100%;
       min-height: 75vh;
       background-color: #4255a4;
  }

  .footer {
       width: 80%;
       margin: auto;
       padding-top: 6.5em;
       text-align: start;
       display: flex;
       justify-content: space-between;
       align-items: center;
  }

  .footer .foot-left {
       flex-basis: 40%;
       color: #fff;
  }

  .foot-left p {
       margin: 1em 0 1.5em;
       font-size: 1em;
       line-height: 1.6em;
  }

  .foot-left .social-icon .bx {
       width: 2em;
       height: 2em;
       margin-right: 0.5em;
       padding: 0.5em;
       border-radius: 50%;
       background-color: #4f63b4;
       transition: ease-in-out 0.5s;
  }

  .social-icon .bx:hover {
       background-color: #ed078b;
  }

  .foot-midel {
       margin-top: 0;
       flex-basis: 12%;
  }

  .foot-midel h2 {
       margin-bottom: 1em;
       color: #fff;
  }

  .foot-midel a {
       display: block;
       margin-bottom: 0.9em;
       text-decoration: none;
       color: #fff;
       font-family: 'Fredoka', sans-serif;
  }

  .foot-midel a:hover {
       text-decoration: underline;
  }

  .foot .copy p {
       margin: 4em 0 1em;
       color: #fff;
       text-align: center;
  }

  /* End footer */

  /* End home page */

  /* stard class page */

  .class-header {
       height: 80vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../image/Cover-02.jpg);
       background-position: center;
       background-size: cover;
       position: relative;
  }

  .class-header h1 {
       margin-top: 2em;
       margin-left: 1em;
       text-align: left;
       font-size: 3.5em;
       padding-top: 100px;
       color: #fff;
  }

  .about .row.grid {
       display: flex;
       flex-wrap: wrap;
       padding-bottom: 1em;
  }

  .row .room-col.courses {
       box-shadow: none;
       transition: 0.5s;

  }

  .row .room-col.courses:hover {
       box-shadow: 0px 0px 10px #fd7dc6;
  }

  /* end class page */

  /* stard about page */
  .about-header {
       height: 80vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../image/just-daisy-BlCJi8walFQ-unsplash.jpg);
       background-position: center;
       background-size: cover;
       position: relative;
  }

  .about-header h1 {
       margin-top: 2em;
       margin-left: 1em;
       text-align: left;
       font-size: 3.5em;
       padding-top: 100px;
       color: #fff;
  }

  /* End about page */

  /* stard blog page */

  .blog-header {
       height: 80vh;
       width: 100%;
       background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../image/vasily-koloda-8CqDvPuo_kI-unsplash.jpg);
       background-position: center;
       background-size: cover;
       position: relative;
  }


  .blog-header h1 {
       margin-top: 2em;
       margin-left: 1em;
       text-align: left;
       font-size: 3.5em;
       padding-top: 100px;
       color: #fff;
  }

  .locetion {
       width: 80%;
       margin: 3em auto;
  }







  /* Responsive css */
  @media (max-width: 720px) {
       .header {
            min-height: 70vh;
       }

       nav {
            /* display: block; */
            padding: 0;
            height: auto;
       }

       nav .logo {
            width: 100%;
       }

       nav img {
            width: 9em;
            margin: 2%;
            font-size: 0.8em;
       }

       .nav-links ul li {
            display: block;
       }

       #menu {
            display: block;
            position: absolute;
            background: #555;
            height: 100vh;
            width: 150px;
            right: -500px;
            top: 0%;
            text-align: center;
            z-index: 2;
            transition: 1s;
       }

       #menu ul li {
            margin-bottom: 0.5em;
       }

       #menu ul li a {
            color: #fff;
       }

       .enroll-btn {
            margin: 0.3em;
       }

       #nab-bar .bx-menu {
            display: block;
            color: #555;
            margin: 0.3em;
            font-size: 1.5em;
            font-weight: 900;
       }

       #menu .bx-x {
            display: block;
            color: #fff;
            margin: 0.3em;
            font-size: 1.5em;
            font-weight: 900;
            text-align: left;
       }

       .text-box {
            width: 65%;
            height: 40%;
            padding: 7% 8%;
            top: 60%;
            left: 40%;

       }

       .text-box h1 {
            font-size: 2em;
            font-weight: 600;
       }

       .text-box span {
            font-size: 0.8em;
       }

       /* End header */

       /* about */
       .about h2 {
            font-size: 1.9em;
       }

       .row {
            display: block;
       }

       .sports h2 {
            font-size: 1.2em;
       }

       /* End about */

       /* End about */
       .name-room h2 {
            font-size: 1.5em;
       }

       .room-foot .age {
            padding: 0 3% 0 5%;
            text-align: left;
       }

       .room-foot .age h2 {
            font-size: 1.3em;
       }

       .room-foot .age p {
            font-size: 0.9em;
       }

       .about .more {
            width: 40%;
            margin-top: 1em;
            padding: 3% 0;
       }

       /* End room */

       /* event */
       .event {
            min-height: 80vh;
       }

       .event .drawing {
            width: 70%;
            height: 50%;
            padding: 5%;
            background-color: #fff;
            position: absolute;
            top: 20%;
            left: 18%;
            transform: translate(-50% -50%);
            text-align: center;
            border-radius: 2em;
       }

       .event .drawing h2 {
            font-size: 1.5em;
       }

       /*End event */

       /*teacher */
       .teacher-about {
            display: block;
       }

       /*end teacher */

       /*testimonials */
       .testimonials img {
            width: 3em;
            height: 3em;
       }

       .testimonials .profile {
            width: 100%;
       }

       /*End testimonials */

       /* footer */

       .footer {
            display: block;
            padding-bottom: 2.5em;
       }

       .foot-midel {
            margin: 2em 0 0;
       }

       .foot .copy p {
            font-size: 0.9em;
            padding: 0 0.5em 1em;
       }

       /* End footer */
       
       .class-header {
            height: 50vh;
       }

       .class-header h1 {
            margin: 1em 0.5em 0;
       }

       .about .row.grid {
            display: block;
            margin-bottom: 1.5em;
       }

       .blog-header {
            height: 50vh;
       }

       .blog-header h1 {
            margin: 1em 0.5em 0;
       }

       .about-header {
            height: 50vh;
       }

       .about-header h1 {
            font-size: 2.5em;
            margin: 1.5em 0.5em 0;
       }

  }